.download {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	min-height: 0;
	height: 100%;
	width: 100%;
	color: var(--color-white);
}

.download-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.download-container > * {
	min-width: 22rem;
	margin: auto;
	flex: 1;
}

.download-left {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 1rem;
}

.download-title {
	font-size: var(--font-size-large);
	font-weight: 700;
	letter-spacing: 0.1rem;
	line-height: 3rem;
}

.download-text {
	line-height: 1.75rem;
	font-size: var(--font-size-medium);
	color: var(--color-grey);
}

.download-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 0;
	height: 100%;
	gap: 1rem;
}

.download-right span {
	text-align: center;
	font-size: var(--font-size-small)
}

.download-beta-banner {
	text-align: center;
	padding: 1rem;
	background-color: var(--color-secondary);
	border-radius: 0.75rem;
	width: 100%;
}

.download-empty-state {
}
