.button {
	z-index: 1;
	display: inline-block;
	padding: .9rem 1.5rem .9rem;
	font-size: var(--font-size-small);
	font-weight: 600;
	line-height: 1;
	color: var(--color-white);
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	background: linear-gradient(180deg, var(--color-primary) 50%, var(--color-primary) 100%) !important;
	border: 1px solid var(--color-highlight);
	border-radius: .25rem;
	transition: all .2s ease;
	cursor: pointer;
}

.button.shadow {
	filter: drop-shadow(0px 0px 2rem var(--color-primary));
}

.button:hover {
	background: var(--color-highlight);
}