.home {
	display: flex;
	min-height: 0;
	flex-grow: 1;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
}

.home-image {
	margin-top: 1.5rem;
	margin-bottom: 8rem;
	display: flex;
	justify-content: center;
	width: 65rem;
	filter: drop-shadow(0px 0px 5rem var(--color-highlight));
}

.home-image img {
	user-select: none;
	width: 100%;
	border-radius: .75rem;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.50);
}

.home-heading {
	user-select: none;
	font-size: 7rem;
	font-family: var(--font-secondary);
	text-align: center;
	letter-spacing: 0.1rem;
}

.home-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.home-heading-highlighted {
	color: var(--color-highlight);
	font-size: 4rem;
}

.home-sub-heading {
	letter-spacing: 0.05rem;
	line-height: 2rem;
	font-weight: 400;
	font-size: 1.1rem;
	text-align: center;
	color: var(--color-grey);
	margin-bottom: 3rem;
}

.home-section-feature {
	display: flex;
	width: 100%;
	height: 20rem;
	justify-content: space-between;
	margin-bottom: 3rem;
	padding: 3rem 2.5rem;
}

.home-section-feature-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	gap: 1rem;
}

.home-section-feature-title {
	font-size: 3rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.home-section-feature-title code {
	font-size: 1.5rem;
}

.home-section-feature-desc {
	font-size: 1.2rem;
	font-weight: 400;
	color: var(--color-grey);
}

.home-section-feature-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.home-section-wiki {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 3rem;
	padding: 3rem 1.5rem;
	font-size: 1.5rem;
	color: var(--color-grey)
}
