.home {
	display: flex;
	min-height: 0;
	flex-grow: 1;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
}

.home-image {
	margin-top: 1.5rem;
	margin-bottom: 8rem;
	display: flex;
	justify-content: center;
	width: 65rem;
	border-radius: .75rem;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, .50);
}

.home-image img {
	user-select: none;
	width: 100%;
	border-radius: .75rem;
}

.home-heading {
	user-select: none;
	font-size: var(--font-size-massive);
	font-family: var(--font-secondary);
	text-align: center;
	letter-spacing: 0.1rem;
}

.home-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.home-heading-highlighted {
	color: var(--color-highlight);
	font-size: var(--font-size-large);
}

.home-sub-heading {
	letter-spacing: 0.05rem;
	line-height: 2rem;
	font-weight: 400;
	font-size: var(--font-size-medium);
	text-align: center;
	color: var(--color-grey);
	margin-bottom: 3rem;
}

.home-section-feature {
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	gap: 5rem;
	width: 100%;
	height: 20rem;
	justify-content: space-between;
	margin-bottom: 3rem;
	padding: 2.5rem 0;
}

.home-section-feature-content {
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	flex-direction: column;
	width: 40%;
	gap: 1rem;
}

.home-section-feature-title {
	font-size: var(--font-size-large);
	font-weight: 700;
	display: flex;
	align-items: baseline;
	gap: 1rem;
}

.home-section-feature-title code {
	font-size: var(--font-size-large);
}

.home-section-feature-desc {
	font-size: var(--font-size-medium);
	font-weight: 400;
	color: var(--color-grey);
}

.home-section-feature-image {
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	width: 60%;
}

.home-section-feature-image img {
	border-radius: .75rem;
	border: 1px solid var(--color-secondary);
}

.home-section-wiki {
	text-align: center;
	margin-bottom: 3rem;
	padding: 3rem 1.5rem;
	font-size: var(--font-size-medium);
	color: var(--color-grey);
}


.home-section-wiki a {
	font-size: var(--font-size-medium);
}
