.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem var(--page-gutter);
	font-family: var(--font-primary);
}

.navbar-left {
	display: flex;
}

.navbar-logo svg {
	width: 4rem;
	height: 4rem;
}

.navbar-right {
	display: flex;
}

.navbar-links {
	display: flex;
}

.navbar-link {
	margin-left: 2rem;
}

.navbar-link a {
	color: var(--color-white);
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.05rem;
	text-decoration: none;
	transition: all ease 500ms;
}

.navbar-link:hover a {
	color: var(--color-highlight);
}

.navbar-link.active a {
	color: var(--color-highlight);
}
