:root {
	--color-primary: #5d42af;
	--color-secondary: #313741;
	--color-highlight: #8e74e0;
	--color-white: #ffffff;
	--color-grey: #cad0d9;
	--color-black: #10141a;
	--font-primary: "Lato", sans-serif;
	--font-secondary: "Bebas Neue", cursive;
	--page-gutter: 25rem;

	font-size: max(14px, 0.8vw);
	font-weight: 500;

	--font-size-small: .9rem;
	--font-size-medium: 1.2rem;
	--font-size-large: 2.5rem;
	--font-size-massive: 8rem;
}

html,
body,
#root {
	display: flex;
	flex-grow: 1;
	min-height: 0;

	padding: 0;

	background-color: var(--color-black);
	font-family: var(--font-primary);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;

	background-color: var(--color-secondary);
	color: var(--color-grey);
	border-radius: 1rem;

	padding: 0.5rem;
}

a {
	text-decoration: none;
	color: var(--color-primary);
	transition: color .1s ease-in;
}

a:hover {
	color: var(--color-highlight);
}

.secondary-drop-shadow {
	filter: drop-shadow(0px 0px 2rem var(--color-secondary));
}

.primary-drop-shadow {
	filter: drop-shadow(0px 0px 3rem var(--color-primary));
}

.primary-drop-shadow-hover:hover {
	filter: drop-shadow(0px 0px 3rem var(--color-highlight));
}