:root {
	--color-primary: #5d42af;
	--color-secondary: #313741;
	--color-highlight: #8e74e0;
	--color-white: #ffffff;
	--color-grey: #cad0d9;
	--color-black: #10141a;
	--font-primary: "Lato", sans-serif;
	--font-secondary: "Bebas Neue", cursive;
	--page-gutter: 25rem;

	font-size: max(16px, 0.8vw);
	font-weight: 500;
}

html,
body,
#root {

	display: flex;
	flex-grow: 1;
	min-height: 0;

	padding: 0;
	margin: 0;

	width: 100%;

	background-color: var(--color-black);
	font-family: var(--font-primary);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;

	background-color: var(--color-secondary);
	color: var(--color-grey);
	border-radius: 1rem;

	padding: 0.5rem;
}
